<h1><%= @author.name %></h1>

<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.last_name %>
</p>

<% if @author.has_homepage? %>
  <p>
    <strong>Homepage:</strong>
    <%= @author.homepage %>
  </p>
<% end %>
